Repository ullbergm/homeassistant-gatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --errors-only

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

Add permissions to labeler workflow and remove validate workflow; create requirements_dev.txt for pre-commit
  .github/workflows/labeler.yml
  .github/workflows/validate.yml
  requirements_dev.txt
Due: none

Refactor issue templates for consistency and clarity; update YAML configurations and add .yamllint for linting rules
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/stale.yml
  .gitignore
  .pre-commit-config.yaml
  .yamllint
  config/configuration.yaml
  custom_components/gatus/binary_sensor.py
  requirements_dev.txt
Due: pylint

Update release-drafter configuration and add mypy to development requirements
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  requirements_dev.txt
Due: none

Comment out tests job in build workflow
  .github/workflows/build.yml
Due: none

Enhance renovate configuration by adding package rules and labels for Python, GitHub Actions, and development dependencies
  renovate.json
Due: none

Refactor renovate.json to standardize label usage and remove unused package rules
  renovate.json
Due: none

chore(ci): Add GitHub workflows, configuration files, and update dependencies
  .github/FUNDING.yml
  .github/cliff.toml
  .github/hooks/check-commit-subject-case
  .github/labels.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/renovate.json5
  .github/workflows/auto-assign.yml
  .github/workflows/codeowners.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/draft-release.yml
  .github/workflows/labeler.yml
  .github/workflows/lighthouse.yml
  .github/workflows/lock.yml
  .github/workflows/release-drafter.yml
  .github/workflows/scorecard.yml
  .github/workflows/sync-labels.yml
  .pre-commit-config.yaml
  CODEOWNERS
  hacs.json
Due: none

chore(ci): Update regex for hacs.json file matching [skip-changelog]
  .github/renovate.json5
Due: none

chore(ci): update custom manager file matching for hacs.json [skip-changelog]
  .github/renovate.json5
Due: none

chore(ci): update renovate config [skip-changelog]
  .github/renovate.json5
  hacs.json
  requirements.txt
Due: none

chore(ci): Add GitHub workflows, configuration files, and update dependencies
  .github/FUNDING.yml
  .github/cliff.toml
  .github/hooks/check-commit-subject-case
  .github/labels.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/renovate.json5
  .github/workflows/auto-assign.yml
  .github/workflows/codeowners.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/draft-release.yml
  .github/workflows/labeler.yml
  .github/workflows/lighthouse.yml
  .github/workflows/lock.yml
  .github/workflows/release-drafter.yml
  .github/workflows/scorecard.yml
  .github/workflows/sync-labels.yml
  .pre-commit-config.yaml
  CODEOWNERS
  renovate.json
  requirements.txt
Due: none

chore(docs): Update README to enhance installation instructions and add badges
  .github/copilot-instructions.md
  README.md
Due: none

chore(docs): Add badges to readme.md
  README.md
Due: none

Delete .github/dependabot.yml
  .github/dependabot.yml
Due: none

chore(workflows): update stale.yml to set days-before-stale-pr to 14
  .github/workflows/stale.yml
Due: none

chore(devcontainer): add SSH mount configuration
  .devcontainer.json
  scripts/develop
  scripts/lint
  scripts/setup
Due: none

feat(config): add scan interval option to Gatus integration and improve error handling
  custom_components/gatus/__init__.py
  custom_components/gatus/api.py
  custom_components/gatus/binary_sensor.py
  custom_components/gatus/config_flow.py
  custom_components/gatus/const.py
  custom_components/gatus/coordinator.py
  custom_components/gatus/entity.py
Due: pylint

feat(diagnostics): add diagnostics support for Gatus configuration entries
  custom_components/gatus/diagnostics.py
Due: pylint

chore(translations): update error messages and add polling options description in en.json
  custom_components/gatus/translations/en.json
Due: none

feat(tests): add comprehensive test suite for Gatus integration and API client
  .github/workflows/build.yml
  .ruff.toml
  pytest.ini
  requirements_dev.txt
  tests/__init__.py
  tests/conftest.py
  tests/test_api.py
  tests/test_binary_sensor.py
  tests/test_config_flow.py
  tests/test_coordinator.py
Due: pylint, mypy

chore(docs): update contribution guidelines to use ruff for code formatting and linting
  CONTRIBUTING.md
Due: none

chore(pre-commit): update pyupgrade args to support Python 3.13+
  .pre-commit-config.yaml
Due: none

feat(entity): add software version normalization for device info
  custom_components/gatus/entity.py
  tests/test_binary_sensor.py
Due: pylint, mypy

chore(entity): remove unnecessary blank line in entity.py
  custom_components/gatus/entity.py
Due: pylint

chore(fix): add validation for software version in GatusEntity
  custom_components/gatus/entity.py
Due: pylint

chore(tests): enhance tests with explicit package bases and improve assertions
  .pre-commit-config.yaml
  mypy.ini
  tests/test_binary_sensor.py
  tests/test_config_flow.py
  tests/test_coordinator.py
Due: pylint, mypy

chore(refactor): implement typed data models for Gatus integration and update related components
  custom_components/gatus/binary_sensor.py
  custom_components/gatus/coordinator.py
  custom_components/gatus/diagnostics.py
  custom_components/gatus/models.py
  tests/conftest.py
  tests/test_binary_sensor.py
  tests/test_coordinator.py
Due: pylint, mypy

chore(refactor): update Gatus integration to align with HA best practices
  custom_components/gatus/__init__.py
  custom_components/gatus/api.py
  custom_components/gatus/binary_sensor.py
  custom_components/gatus/config_flow.py
  custom_components/gatus/coordinator.py
  custom_components/gatus/diagnostics.py
  custom_components/gatus/manifest.json
  tests/conftest.py
  tests/test_binary_sensor.py
  tests/test_config_flow.py
  tests/test_coordinator.py
Due: pylint, mypy

chore(refactor)!: switch to homeassistant.util.slugify
  custom_components/gatus/__init__.py
  custom_components/gatus/config_flow.py
  custom_components/gatus/manifest.json
  tests/test_config_flow.py
Due: pylint, mypy

chore(lint): fix formatting
  custom_components/gatus/models.py
Due: pylint

fix(tests): change coordinator data structure from list to dict
  tests/test_coordinator.py
Due: pylint, mypy

Update default Python version to 3.14
  .github/workflows/build.yml
Due: none

chore: ignore ruff CPY001 copyright rule
  .ruff.toml
Due: none

chore: ignore ruff CPY001 copyright rule (#68)
  .ruff.toml
Due: none

feat: add HACS brand icon assets
  custom_components/gatus/brand/icon.png
  custom_components/gatus/brand/icon@2x.png
Due: none

feat: add HACS brand icon assets (#69)
  custom_components/gatus/brand/icon.png
  custom_components/gatus/brand/icon@2x.png
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(custom_components/frigate|tests)/.+\.py$ and \.py$
